div img{
  width: 130px;
}

.div__section{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  column-gap: 50px;  
}

.article__span{
display: block;
text-align: center;
padding-top: 15px;
}
.tech-cards{
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}
@media (max-width:1030px) {
  .div__section{
    justify-content: center;
  }
}

@media (max-width:750px) {
  .div__section{
  justify-content: center;
  } 
  .tech-cards{
    display: flex;
    justify-content: center;
  }
}